{% extends "auth/layout.html" %}
{% block content %}
<article class="w-3/12">
  <header class="block p-2 text-center">
    <h1 class="w-fit mx-auto">
      <a href="/" class="w-fit flex items-center" title="Página inicial">
        <i class="bi bi-cloud-check-fill mr-2 text-6xl"></i>
        <span class="text-3xl font-bold">Nuvem Delivery</span></a>
    </h1>
  </header>
  <div class="mt-6 px-8 py-8 rounded-lg shadow-lg bg-white">
    <form method="post" action="/registrar" autocomplete="off" class="">
      <div class="w-full">
        <label for="name" class="block w-full text-base">* Nome:</label>
        <input id="name" type="text" name="nome" value="" required
               class="block w-full p-3 border-2 rounded-lg border-gray-300">
      </div>
      <div class="w-full mt-6">
        <label for="email" class="block w-full text-base">* E-mail:</label>
        <input id="email" type="email" name="email" value="" placeholder="exemplo@email.com" required
               class="block w-full p-3 border-2 rounded-lg border-gray-300">
      </div>
      <div class="w-full mt-6">
        <label for="password" class="block w-full text-base">* Senha:</label>
        <div class="w-full flex border-2 rounded-lg border-gray-300 hover:border-gray-800">
          <input id="password" type="password" name="senha" value="" required
                 class="w-full basis-full p-3 rounded-lg outline-none">
          <button type="button" class="w-fit flex items-center px-2" tabindex="-1">
            <i class="bi bi-eye text-xl text-neutral-800 j_toggle_password" data-id="password"></i>
          </button>
        </div>
      </div>
      <div class="w-full mt-6">
        <label for="password_repeat" class="block w-full text-base">* Repetir Senha:</label>
        <div class="w-full flex border-2 rounded-lg border-gray-300 hover:border-gray-800">
          <input id="password_repeat" type="password" name="repetir_senha" value="" required
                 class="w-full basis-full p-3 rounded-lg outline-none">
          <button type="button" class="w-fit flex items-center px-2" tabindex="-1">
            <i class="bi bi-eye text-xl text-neutral-800 j_toggle_password" data-id="password_repeat"></i>
          </button>
        </div>
      </div>
      <div class="w-full mt-6">
        <button type="submit" class="w-full py-4 flex justify-center text-sm rounded-lg bg-gray-900 font-bold
                    text-white hover:bg-gray-700">
          <span class="basis-auto">ENTRAR</span>
          <img src="resources/images/load-white.gif" class="hidden w-7 ml-4 j_load basis-auto"
               alt="load">
        </button>
      </div>
      <div class="flex justify-between w-full mt-6">
        <a href="/" class="underline text-sm">Voltar ao site</a>
        <a href="/entrar" class="underline text-sm">Já tenho conta</a>
      </div>
    </form>
  </div>
</article>
{% endblock %}
{% block scripts %}
<script src="resources/js/tooglePassword.js"></script>
{% endblock %}