<div class="relative flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow overflow-hidden j_toast">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg">
        <i class="bi bi-exclamation-circle-fill"></i>
    </div>
    <div class="ms-3 min-w-20 text-sm font-normal">Erro ao processar solicitação</div>
    <button type="button" class="ms-2 -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg
            focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8
            j_toast_close">
        <i class="bi bi-x"></i>
    </button>
    <div class="absolute left-0 bottom-0 h-[3px] w-0 bg-black/50 rounded-[3px] j_progress_bar"></div>
</div>