# DRIVER=sqlite
DRIVER=postgresql
# HOST=ricardodarocha.postgresql.dbaas.com.br
HOST=localhost
DATABASE=sindicato
PORT=5432
USER=postgres
PASSWORD=postgres
# DATABASE_URL=${DRIVER}://${USER}:${PASSWORD}@${HOST}:${PORT}/${DATABASE}
DB_LOCAL=${DRIVER}://${USER}:${PASSWORD}@${HOST}:${PORT}/${DATABASE}
DB_SERVER=${DRIVER}://${USER}:masterkey@50.114.32.105:${PORT}/${DATABASE}
# DATABASE_URL=${DB_LOCAL}
DATABASE_URL=${DB_LOCAL}
PORT_API=8080
SERVER_API=localhost
SITE=http://www.pedidonanuvem.com.br/
BREVOSMTP=xsmtpsib-78d7fc0d0bacc24132453bff3eb5f875ee70f0cf9702e5412dd3e376568908c3-x1fFME9hXj4bsntT
BREVOCREDENCIAL=7913f2001@smtp-brevo.com
BREVOREMETENTE=agencia04d@gmail.com
BREVOHOST=smtp-relay.brevo.com
BREVOAPIKEY=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
BREVOAPIURL=https://api.brevo.com/v3/
JOBKEY=None
JWT_SECRET="5dfa5651-4bf8-5a13-aee2-eb43666bdb36"


