{% block head %}
<link rel="stylesheet" href="/static/assets/css/tab/tab.css">
<script src="/static/assets/js/cpfcnpj.js"></script>
{% endblock head %}

<div class="container mt-5">
    <h2>Cadastro de Pessoa</h2>
    <form action="/pessoa/{{ form.id }}" method="POST" class="bs-validate p-4 p-md-5">
        <div class="tabs">
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
            <label for="tab1" class="tabs__label">Dados da pessoa</label>
            <div class="tabs__content">
                <input hidden type="text" class="form-control" required value="{{ form.id }}" id="id" name="id">
                <div class="form-group">
                    <label for="nome">Nome da Pessoa</label>
                    <input type="text" class="form-control" required value="{{ form.nome }}" autocomplete="name" id="nome" name="nome"
                        placeholder="Digite o nome do pessoa">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="phone" class="form-control" value="{{ '' if form.telefone == none else form.telefone }}" autocomplete="phone" id="telefone" name="telefone"
                        placeholder="Telefone">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" value="{{'' if form.email == none else  form.email }}"  autocomplete="email" id="email" name="email"
                        placeholder="E-mail">
                </div>
                <div class="form-group">
                    <div>
                        <label for="endereco">Rua</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" autocomplete="street-address" required
                            enterkeyhint="next"></input>
                    
                    </div>
                    <div>
                        <label for="cep">CEP</label>
                        <input class="postal-code form-control" id="cep" name="cep" autocomplete="postal-code" enterkeyhint="next">
                    </div>
                    <div>
                        <label for="cidade">Cidade</label>
                        <input required type="text" class="form-control" id="cidade" name="cidade" autocomplete="address-level2" enterkeyhint="next">
                    </div>
                    <div>
                        {% with itens = estados, label = "Estado", value = form.id_estado, name = "id_estado" %}
                        {% include "comp/select/select.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="tabs">
                    <input type="radio" class="tabs__radio" name="tabtipopessoa" id="tabcpf" checked>
                    <label for="tabcpf" class="tabs__label">Cpf</label>
                    <div class="tabs__content">
                    <input type="text" class="cpf-cnpj form-control" name="cpf" maxlength="11" value="{{'' if form.cpf == none else form.cpf }}">
                    </div>
                    <input type="radio" class="tabs__radio" name="tabtipopessoa" id="tabcnpj" checked>
                    <label for="tabcnpj" class="tabs__label">Cnpj</label>
                    <div class="tabs__content">
                    <input type="text" class="cpf-cnpj form-control" name="cnpj" maxlength="14" value="{{'' if form.cnpj == none else form.cnpj }}">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" value="{{ form.descricao }}" name="descricao" id="descricao" rows="3"
                        placeholder="Digite a descrição do pessoa"></textarea>
                </div>
                <div class="input-group-over mb-3">
                    {% with itens = grupos_pessoa, label = "Grupo de pessoas", value = form.id_grupo_pessoa, name =
                    "id_grupo_pessoa" %}
                    {% include "comp/select/select.html" %}
                    {% endwith %}
                </div> -->
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
            <label for="tab2" class="tabs__label">Documentos</label>
            <div class="tabs__content">

                <div class="form-group">
                    <label for="cns">Cartão do Sus</label>
                    <input type="text" class="form-control" name="cns" value="{{ form.cns }}" id="cns"
                        placeholder="Digite o número do cartão">
                </div>
                <div class="form-group">
                    <label for="identidade">Identidade</label>
                    <input type="text" class="form-control" name="identidade" value="{{ form.identidade }}" id="identidade"
                        placeholder="Digite o número da identidade">
                </div>
                <div class="form-group">
                    <label for="cnh">Carteira de Motorista</label>
                    <input type="text" class="form-control" name="cnh" value="{{ form.cnh }}" id="cnh"
                        placeholder="Digite o número da carteira de motorista">
                </div>
                <div class="form-group">
                    <label for="oab">Carteira Profissional</label>
                    <input type="text" class="form-control" name="oab" value="{{ form.oab }}" id="oab"
                        placeholder="OAB CRM CRC CREA COREN">
                </div>
                <div class="form-group">
                    <label for="tituloeleitor">Título de eleitor</label>
                    <input type="text" class="form-control" name="tituloeleitor" value="{{ form.tituloeleitor }}" id="tituloeleitor"
                        placeholder="Digite o número do título">
                </div>
                         
               
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
            <label for="tab3" class="tabs__label">Funcionário</label>
            <div class="tabs__content">
                <div class="form-group">
                    <label for="ctps">Número da carteira de trabalho</label>
                    <input type="text" class="form-control" name="ctps" value="{{ form.ctps }}" id="ctps"
                        placeholder="Número">
                </div>
                <div class="form-group">
                    <label for="pis">Número do PIS PASEP</label>
                    <input type="text" class="form-control" name="pis" value="{{ form.pis }}" id="pis"
                        placeholder="Número">
                </div>
                <div class="form-group">
                    <label for="salario">Salário</label>
                    <input type="number" class="form-control" name="salario" value="{{ form.salario }}" id="salario"
                        placeholder="R$ Valor">
                </div>
                         
               
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab4">
            <label for="tab4" class="tabs__label">Vendedor</label>
            <div class="tabs__content">
                <div class="form-group">
                    <label for="regiao">Região</label>
                    <input type="text" class="form-control" name="regiao" value="{{ form.regiao }}" id="regiao"
                        placeholder="Nome da região">
                </div>
                <div class="form-group">
                    <label for="comissao">Comissão</label>
                    <input type="number" class="form-control" name="comissao" value="{{ form.comissao }}" id="comissao"
                        placeholder="R$ Valor">
                </div>
                         
               
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

