{% extends "admin/layout.html" %}
{% block content %}
<div class="p-10 max-w-screen-2xl mx-auto">
    <section class="w-full grid grid-cols-4 auto-cols-fr gap-8">

        {% for card in kpis %}
        <article class="p-6 drop-shadow bg-white">
            <div class="h-10 w-10 flex justify-center items-center bg-gray-100 rounded-full">
                <i class="{{ card.icone }} no-text text-lg text-indigo-600"></i>
            </div>
            <header class="mt-4">
                <h2 class="text-2xl font-semibold"> {{ card.valor}} </h2>
            </header>
            <div class="flex justify-between text-sm font-light">
                <p class="text-gray-600">{{ card.titulo }}</p>
                <p class=" {{ card.color }}">{{ card.variacao }}<i class="{{ card.decorator }}"></i></p>
            </div>
        </article>
        {% endfor %}
        
       
    </section>

    <section class="w-full mt-8 flex">
        <article class="flex-grow mr-8 p-6 bg-white drop-shadow">
            <header class="flex justify-between">
                <h2 class="font-semibold">Vendas</h2>
                <p class="text-xs">10/2024 até 12/2024</p>
            </header>
            <div class="h-64 mt-6">
                <canvas id="myChart"></canvas>
            </div>
        </article>
        <article class="w-4/12 p-6 bg-white drop-shadow">
            <header class="flex justify-between">
                <h2 class="font-semibold">Compras</h2>
                <p class="text-xs">Uítmios 90 dias</p>
            </header>
            <div class="h-64 mt-6">
                <canvas id="myChart02"></canvas>
            </div>
        </article>
    </section>
    <section class="w-full mt-8 flex">
        <article class="flex-grow mr-8 p-6 bg-white drop-shadow">
            <header>
                <h2 class="font-semibold">Mais vendidos</h2>
            </header>
            <div class="w-full mt-6">
                {% with itens_mais_vendidos = [
                {
                    "nome": "Combo X-Salada",
                    "data": "23/02/2020",
                    "total": "204.000",
                    "valor_medio": "82,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                },
                {   "nome": "X-Burger com Fritas",
                    "data": "20/02/2020",
                    "total": "63.000",
                    "valor_medio": "R$ 63,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                },
                {   "nome": "Batata Frita",
                    "data": "23/02/2020",
                    "total": "59.000",
                    "valor_medio": "R$ 13,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                },
                {   "nome": "Milkshake de morango",
                    "data": "23/02/2020",
                    "total": "56.000",
                    "valor_medio": "R$ 9,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                },
                {   "nome": "X-Egg-Burger",
                    "data": "24/02/2020",
                    "total": "56.000",
                    "valor_medio": "R$ 29,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                },
                {   "nome": "Nuggets",
                    "data": "23/02/2020",
                    "total": "55.000",
                    "valor_medio": "R$ 31,00",
                    "img": "../resources/images/JbKBmEPwSKpP_320w.png"
                }
                ]
                %} 
                    <ul class="p-2 grid grid-cols-12 auto-cols-auto bg-gray-100 border border-gray-200 text-xs font-semibold">
                        <li class="col-span-2"></li>
                        <li class="col-span-4">Item</li>
                        <li class="col-span-2">Última Venda</li>
                        <li class="col-span-2">Total Vendido</li>
                        <li class="col-span-2">Valor Médio</li>
                    </ul>

                    {% for record in itens_mais_vendidos %}
                   
                    <ul class="p-2 grid grid-cols-12 auto-cols-auto text-xs">
                    <img class="col-span-2 w-8 h-8" src= {{ record.img }}>
                        <li class="col-span-4">{{ record.nome }}</li>
                        <li class="col-span-2">{{ record.data }}</li>
                        <li class="col-span-2">{{ record.total }}</li>
                        <li class="col-span-2">{{ record.valor_medio }} </li>
                    </ul>
                    {% endfor %}

                {% endwith %}
                
            </div>
        </article>

        {% with clientes = [{
            "img": "../resources/images/user-01.png",
            "nome": "Pereira e Cia",
            "tel": "(00) 9 9999-9999"
        },{
            "img": "../resources/images/user-02.png",
            "nome": "Eva Contabilidade",
            "tel": "(00) 9 9999-9999"
        },{
            "img": "../resources/images/user-03.png",
            "nome": "Javier Sistemas",
            "tel": "(00) 9 9999-9999"
        },{
            "img": "../resources/images/user-04.png",
            "nome": "Mara Lúcia Cabelereira",
            "tel": "(00) 9 9999-9999"
        },{
            "img": "../resources/images/user-05.png",
            "nome": "Breno Transportes",
            "tel": "(00) 9 9999-9999"
        }] %} 
        <article class="w-4/12 p-6 bg-white drop-shadow">
            <header>
                <h2 class="font-semibold">Clientes Recentes</h2>
            </header>
            <div class="w-full mt-6">
                {% for cliente in clientes %}
                <div class="pb-2 flex items-center border-b border-gray-200">
                    <img class="w-12 h-12" src={{ cliente.img }}>
                    <div class="ml-4 text-xs">
                        <p><i class="bi bi-patch-check-fill text-green-500 mr-1"></i>{{ cliente.nome }}</p>
                        <p><i class="bi bi-whatsapp mr-1"></i> {{ cliente.tel }} </p>
                    </div>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </article>
    </section>
</div>
{% endblock %}
{% block scripts %}
<script src="../resources/js/chartExample.js"></script>
{% endblock %}