{% extends "web/layout.html" %}
{% block content %}
<article class="w-8/12 mx-auto py-8">
    <header class="text-center pb-8 border-b border-orange-700">
        <h2 class="text-4xl text-orange-700 font-black">Sobre Nós</h2>
    </header>
    <div class="w-9/12 mx-auto mt-8">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae consequuntur cumque dolores eius
            eum iure possimus repudiandae tempore. Ab animi at, deserunt eveniet excepturi fugit ipsum itaque magnam
            odio perferendis, quaerat quasi quisquam quo, recusandae sed sit tempore totam velit.</p>
        <p class="mt-2">A autem blanditiis consectetur cupiditate dicta dolorum ea eius, eligendi id quam, ratione repellendus vero
            voluptate. Dignissimos eaque eligendi illo labore nam reprehenderit unde ut veniam. Asperiores at, cumque
            deleniti deserunt dicta doloribus dolorum, et illo illum magnam natus nesciunt nihil nostrum pariatur quas
            quidem quo repellat sapiente sequi totam ullam vel veritatis voluptatum! Adipisci amet asperiores
            consectetur, deserunt et eveniet ecepturi ipsam iste obcaecati quae quia rem, reprehenderit, repudiandae
            sequi similique sint ullam unde veritatis voluptatem voluptatum.</p>
        <p class="mt-2">Ad, debitis et hic id laboriosam minima minus molestiae, nobis non nulla quasi rem, suscipit totam
            ullam voluptatibus. Ab amet architecto, consequatur consequuntur deleniti est et, eveniet exercitationem
            illo impedit ipsa ipsam laborum minus nemo nesciunt obcaecati officiis placeat praesentium quidem quis
            sapiente tempora ullam ut vel voluptas! Asperiores deleniti dolore eius et exercitationem iure repellat
            repellendus ullam voluptatum! Ad autem blanditiis dolore eveniet fuga fugiat illum, inventore molestias,
            omnis perspiciatis quisquam voluptates! Accusantium amet aut error laudantium minima numquam recusandae.</p>
    </div>
</article>
{% endblock %}