{% extends "web/layout.html" %}
{% block content %}
<article class="w-6/12 mx-auto py-8 flex justify-center">
    <header class="w-6/12 flex flex-wrap content-center">
        <h2 class="font-black text-7xl text-orange-600 leading-tight">Nuvem Delivery</h2>
        <p class="w-full mt-2 font-semibold text-4xl text-orange-500">Simples e prático</p>
        <a href="#" class="w-56 py-3 mt-8 bg-gradient-to-b from-orange-500 to-orange-800 text-white text-lg
            font-semibold text-center rounded-lg border-orange-900 hover:opacity-80">Saiba mais</a>
    </header>
    <img class="w-6/12" src="../../shared/images/entregador.svg" alt="Entregador"/>
</article>
{% endblock %}