{% block head %}
<link rel="stylesheet" href="/static/assets/css/tab/tab.css">
{% endblock head %}

<div class="container mt-5">

    <h2>Cadastro de Produto</h2>
    <form action="/produto/{{ form.id }}" method="POST" class="bs-validate p-4 p-md-5">
        <div class="tabs">
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
            <label for="tab1" class="tabs__label">Dados do produto</label>
            <div class="tabs__content">
                <input hidden type="text" class="form-control" required value="{{ form.id }}" id="id" name="id">
                <div class="form-group">
                    <label for="nome">Nome do Produto</label>
                    <input type="text" class="form-control" required value="{{ form.nome }}" id="nome" name="nome"
                        placeholder="Digite o nome do produto">
                </div>
                <div class="form-group">
                    <label for="codbarras">Código de Barras</label>
                    <input type="text" class="form-control" value="{{ form.codbarras }}" id="codbarras"
                        name="codbarras" placeholder="Digite o código de barras">
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" value="{{ form.descricao }}" name="descricao" id="descricao" rows="3"
                        placeholder="Digite a descrição do produto"></textarea>
                </div>
                <div class="input-group-over mb-3">
                    {% with itens = grupos_produto, label = "Grupo de produtos", value = form.id_grupo_produto, name =
                    "id_grupo_produto" %}
                    {% include "comp/select/select.html" %}
                    {% endwith %}
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
            <label for="tab2" class="tabs__label">Fornecimento</label>
            <div class="tabs__content">

                <div class="form-group">
                    <label for="marca">Nome da Marca</label>
                    <input type="text" class="form-control" name="marca" value="{{ form.marca }}" id="marca"
                        placeholder="Digite o nome da marca">
                </div>
                <div class="form-group">
                    <label for="codfornecedor">Código do Fornecedor</label>
                    <input type="text" class="form-control" name="codfornecedor" value="{{ form.codigo_fornecedor }}" id="codfornecedor"
                        placeholder="Digite o código do produto no fornecedor">
                </div>
                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input type="number" class="form-control" name="preco" value="{{ form.preco }}" id="preco" name="preco"
                        placeholder="Digite o preço do produto">
                </div>
                <div class="form-group">
                    <label for="estoque">Estoque</label>
                    <input type="number" class="form-control" required name="estoque" value="{{ form.estoque }}" id="estoque" name="estoque"
                        placeholder="Digite a quantidade em estoque">
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <div class="col-12 col-md-12 mt-4">
                            <button type="submit" class="btn btn-success w-100 fw-medium">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

