{% block style %}
<style>
    .prod-description {
        font-size: 0.9rem;
        color: gray;
    }

    .prod-price {
        font-weight: bold;
    }

    .prod-tags {
        font-size: 0.8rem;
        color: #28a745;
    }

    .prod-options input,
    .prod-predefined div {
        margin-bottom: 10px;
    }

    img {
        width: 90px;
    }

    .galeria {
        display: flex;
    }
</style>
{% endblock %}

{% block clientarea %}
<div class="galeria">
    <div class="row">
        {% for prod in galeria.itens %}
        <div class="col-4 ">
            <div class="card h-100">
                <img src="{{ prod.url }}" alt="{{ prod.nome }}">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ prod.nome }}</strong></h5>
                    <p class="prod-description">{{ prod.descricao }}</p>
                    <div class="prod-tags">
                        {% for tag in prod.tags %}
                        <span>{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <p class="prod-price">{{ prod.preco }}
                    <div class="und">{{ prod.unidade }}

                        {% if prod.in_cart %}
                        <div>
                            <label for="quantity_{{ prod.id }}">Quantidade</label>
                            <input type="number" id="quantity_{{ prod.id }}" class="form-control"
                                value={{ prod.quantidade }} min="1">
                        </div>
                        <div>
                            {% if prod.total %}
                            <label>Total: {{ prod.total }}</label><br/>
                            {% endif %}
                            <button class="btn btn-light btn-sm"><i class="fa fa-trash m-0"></i></button>
                            
                        </div>
                        {% else %}

                        <div>
                            <button class="btn btn-primary btn-block" hx-get="/pedido/pedido-item-component"
                                hx-target="#new-item" hx-swap="afterend">Adicionar ao carrinho</button>
                        </div>
                        {% endif %}
                    </div>
                    
                        <!-- <div class="prod-options mt-3">
                       
                            {% for option in prod.options %}
                            <div>
                                <label for="option_{{ prod.id }}_{{ option.id }}">{{ option.label }}:</label>
                                <input type="text" id="option_{{ prod.id }}_{{ option.id }}" class="form-control">
                            </div>
                            {% endfor %}
                        </div>
                    <div class="prod-predefined mt-3">
                        {% for predefined in prod.pre %}
                        <div id="predefined_{{ prod.id }}_{{ predefined.id }}"
                            class="btn btn-outline-secondary btn-sm">{{ predefined.label }}</div>
                        {% endfor %}
                    </div> -->
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endblock %}