{% extends "layout/client.html" %}

{% block clientarea %}
<!-- -->
<div class="row">
    
    <div class="btn-group btn-group-toggle" data-toggle="buttons">        
        <a class="btn  btn-block btn-light" href="add" role="button">
            <i class="fa fa-plus"></i>Inserir
        </a>
    </div>
    {% include "comp/categorias/categorias.html" %}

    <div class="table-responsive">
        <table id="add-row" class="display table table-striped table-hover">
            <thead>
                <tr>
                    {% for field in colunas.itens %}
                    <th>{{ field.nome }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {% for field in colunas.itens %}
                    <th>{{ field.nome }}</th>
                    {% endfor %}
                </tr>
            </tfoot>
            <tbody>
                {% for row in grade %}
                <tr>
                    <td><a href="/produto/{{row.id}}">{{row.id_}}</a></td>
                    <td>{{row.nome}}</td>
                    <td>{{row.codbarras}}</td>
                    <td>{{row.preco}}</td>
                    <td>{{row.und}}</td>
                    <td>{{row.estoque}}</td>
                    <td>
                        <div class="form-button-action">
                            <a href="/produto/{{row.id}}">
                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg"
                                data-original-title="Editar">
                                <i class="fa fa-edit"></i>
                            </button>
                            </a>
                            <a href="/produto/hide/{{row.id}}">
                            <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger"
                                data-original-title="Remover">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock clientarea %}