<div class="container" style="background-color: white;">

    <div class="text-center mb-5">

        <h1 class="display-8 fw-bold">Cadastro de Produtos
        </h1>
        <p class="lead m-0">
            Ricardo da Rocha Inc. © 2024 - Todos os direitos reservados
        </p>
    </div>

    <div class="col-md-9 col-lg-6 mx-auto">

        <!-- form -->
        <form action="/produto/{{ form.id }}" method="POST" class="bs-validate p-4 p-md-5 card rounded-xl">


            <!--
            <p class="text-danger">
              Ups! Please check again
            </p>
            -->
            <div class="input-group-over mb-3">
                <div class="form-floating mb-3">
                    <input hidden id="id" name="id" type="text" value="{{ form.id }}" />

                    <input placeholder="Código de barras" id="codbarras" name="codbarras" type="text"
                        class="form-control" value="{{ form.codbarras }}" />
                    <label for="codigo">Código de barras</label>
                </div>
            </div>
            <div class="input-group-over mb-3">
                <div class="form-floating mb-3">
                    <input required placeholder="Nome do produto" id="nome" name="nome" type="text" class="form-control"
                        value="{{ form.nome }}" />
                    <label for="nome">nome do produto</label>
                </div>
            </div>
            <div class="input-group-over mb-3">
                {% with itens = grupos_produto, label = "Grupo de produtos", value = form.id_grupo_produto, name =
                "id_grupo_produto" %}
                {% include "comp/select/select.html" %}
                {% endwith %}
            </div>

            <div class="input-group-over mb-3">
                <div class="form-floating mb-3">
                    <input required placeholder="" id="preco" name="preco" type="number" class="form-control" step=".01"
                        value="{{ form.preco }}" />
                    <label for="preco">preço</label>
                </div>
                <div class="form-floating">
                    <input required placeholder="estoque" id="estoque" name="estoque" type="number" step=".01"
                        class="form-control" value="{{ form.estoque }}" />
                    <label for="estoque">estoque</label>
                </div>
            </div>

            {% if flash | length > 0 %}
            <p><span style="color:green;"> flash </span></p>
            {% endif %}
            {% if msg_error | length > 0 %}
            <p><span style="color:red;"> msg_error </span></p>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-12 mt-4">
                    <div class="col-12 col-md-12 mt-4">
                        <button type="submit" class="btn btn-success w-100 fw-medium">
                            Salvar
                        </button>
                    </div>
                </div>
            </div>

        </form>



    </div>

</div>