@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
   font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    height: 100vh;
    margin: 0;
}

.badge {
  font-family: "Lato", monospace;
  font-weight: 400;
}

.sidebar {
    width: 240px;
    background-color: #198754;
    color: white;
    padding: 1.7rem;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.client {
    margin-left: 240px; /* Espaço igual à largura da sidebar */
    padding: 1rem;
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
	width: 0px;
    }

	.client {
	    margin-left: 0px; /* Espaço igual à largura da sidebar */
	}
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s;
}

a {
    color: #155e48;
    font-weight: bold;
    text-decoration: none;
}

.menu a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.menu li:hover,
.active {
  background: #f6f8ff;
}

.logout {
  position: absolute;
  bottom: 0;
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Montserrat', monospace
}

table,
th,
td {
  border: 1px solid #ddd;
  font-family: 'Montserrat', monospace
}

th,
td {
  padding: 15px;
  text-align: left;
  font-family: 'Montserrat', monospace
}

th {
  background-color: #f2f2f2;
  font-family: 'Montserrat', monospace
}

tfoot td {
  text-align: right;
  font-weight: bold;
  font-family: 'Montserrat', monospace
}
