.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.shadcn-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.shadcn-label {
  display: block;
  margin-bottom: 5px;
}

.shadcn-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.shadcn-button {
  width: 100%;
  padding: 10px;
  background-color: #ff8800;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.shadcn-button:hover {
  background-color: #b36200;
}

.navbar-brand img {
  width: 30px;
  height: 30px;
}

.navbar .user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-item {
  margin: 10px 16px;
}

.border-dark {
  border-color: #202940 !important;
}

/* 		Breadcrumb		*/
.breadcrumbs {
  list-style: none;
  display: inline;
  width: auto;
  border-left: 1px solid #efefef;
  margin-left: 25px;
  padding-left: 25px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a {
  color: #575962;
  font-size: 13px;
}
.breadcrumbs li a i {
  font-size: 16px;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs li.separator {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

/*     Card     */
.card,
.card-light {
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
  border: 0px;
}
.card .card-header,
.card-light .card-header {
  padding: 1rem 1.25rem;
  background-color: transparent;
  border-bottom: 1px solid #ebecec !important;
}
.card .card-header:first-child,
.card-light .card-header:first-child {
  border-radius: 0px;
}
.card .card-header .card-head-row,
.card-light .card-header .card-head-row {
  display: flex;
  align-items: center;
}
.card .card-header .card-head-row .card-tools,
.card-light .card-header .card-head-row .card-tools {
  margin-left: auto;
  float: right;
  padding-left: 15px;
}
.card .separator-solid,
.card-light .separator-solid {
  border-top: 1px solid #ebecec;
  margin: 15px 0;
}
.card .separator-dashed,
.card-light .separator-dashed {
  border-top: 1px dashed #ebecec;
  margin: 15px 0;
}
.card .separator-dot,
.card-light .separator-dot {
  border-top: 1px dotted #ebecec;
  margin: 15px 0;
}
.card .full-width-separator,
.card-light .full-width-separator {
  margin: 15px -20px 15px;
}
.card .b-b1,
.card-light .b-b1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.card .card-light {
  padding: 1.25rem;
}
.card .card-footer,
.card-light .card-footer {
  background-color: transparent;
  line-height: 30px;
  border-top: 1px solid #ebecec !important;
  font-size: 13px;
}
.card .pull-in,
.card-light .pull-in {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.card .pull-in.sparkline-fix,
.card-light .pull-in.sparkline-fix {
  margin-left: -1.35rem;
  margin-right: -1.35rem;
  margin-bottom: -3px;
}
.card .chart-as-background,
.card-light .chart-as-background {
  position: absolute;
  bottom: 0;
  width: calc(100% + 2px);
}
.card .card-action,
.card-light .card-action {
  padding: 30px;
  background-color: transparent;
  line-height: 30px;
  border-top: 1px solid #ebecec !important;
  font-size: 14px;
}
.card .card-footer hr,
.card-light .card-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card .card-footer .legend,
.card-light .card-footer .legend {
  display: inline-block;
}

@media screen and (max-width: 476px) {
  .card .card-header .card-head-row:not(.card-tools-still-right) {
    flex-direction: column;
    align-items: unset;
  }
  .card .card-header .card-head-row:not(.card-tools-still-right) .card-tools {
    margin-left: 0px;
    float: left;
    padding-left: 0px;
    padding-top: 10px;
  }
}

.card.full-height {
  height: calc(100% - 30px);
}

.card-space {
  padding: 0 30px;
}
.card-space > .card-header,
.card-space > .card-space > .card-footer,
.card-space > .card-action {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card-with-nav .card-header {
  border-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.card-with-nav {
  padding: 15px 25px !important;
}

.card-list {
  padding: 10px 0;
}
.card-list .item-list {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
}
.card-list .item-list .info-user {
  flex: 1;
}
.card-list .item-list .info-user .username,
.card-list .item-list .info-user a.username {
  color: #1572e8;
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 400;
}
.card-list .item-list .info-user .status {
  font-size: 11px;
  color: #7d7b7b;
}

.card-title {
  margin: 0;
  color: #575962;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
.card-title a,
.card-title a:hover,
.card-title a:focus {
  color: #575962;
  text-decoration: none;
}

.card-sub {
  display: block;
  margin: 5px 0 10px 0;
  font-size: 0.9rem;
  background: #f7f8fa;
  color: #575962;
  padding: 0.85rem 1.5rem;
  border-radius: 4px;
  line-height: 1.82;
}

.card-category {
  margin-top: 8px;
  font-size: 14px;
  color: #8d9498;
  margin-bottom: 0px;
  word-break: normal;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #8d9498;
  margin-bottom: 0px;
}

.card-transparent {
  background: transparent !important;
  box-shadow: none;
  border-color: transparent !important;
}

/*     Card Stats    */
.card-stats {
  padding: 15px !important;
}

.card-stats .card-title {
  margin-bottom: 0px !important;
}

.card-stats .card-category {
  margin-top: 0px;
}

.card-stats .col-icon {
  width: 65px;
  height: 65px;
  margin-left: 15px;
}

.card-stats .icon-big {
  width: 100%;
  height: 100%;
  font-size: 2.2em;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-stats .icon-big.icon-default,
.card-stats .icon-big.icon-primary,
.card-stats .icon-big.icon-secondary,
.card-stats .icon-big.icon-success,
.card-stats .icon-big.icon-info,
.card-stats .icon-big.icon-warning,
.card-stats .icon-big.icon-danger {
  border-radius: 5px;
}
.card-stats .icon-big.icon-default i,
.card-stats .icon-big.icon-primary i,
.card-stats .icon-big.icon-secondary i,
.card-stats .icon-big.icon-success i,
.card-stats .icon-big.icon-info i,
.card-stats .icon-big.icon-warning i,
.card-stats .icon-big.icon-danger i {
  color: #ffffff !important;
}
.card-stats .icon-big.icon-default {
  background: #1a2035;
}
.card-stats .icon-big.icon-primary {
  background: #1572e8;
}
.card-stats .icon-big.icon-secondary {
  background: #6861ce;
}
.card-stats .icon-big.icon-success {
  background: #31ce36;
}
.card-stats .icon-big.icon-warning {
  background: #ffad46;
}
.card-stats .icon-big.icon-info {
  background: #48abf7;
}
.card-stats .icon-big.icon-danger {
  background: #f25961;
}
.card-stats .icon-big.round {
  border-radius: 50% !important;
}

.card-stats .col-stats {
  align-items: center;
  display: flex;
  padding-left: 15px;
}

/*     Card Task     */
.card-tasks .table {
  margin-bottom: 0px;
}
.card-tasks .table .form-check {
  padding: 0 0 0 0.75rem !important;
}
.card-tasks .table .form-check label {
  margin-bottom: 0px !important;
}
.card-tasks .table tbody td:first-child,
.card-tasks .table thead th:first-child {
  padding-left: 15px;
  padding-right: 15px;
}
.card-tasks .table tbody td:last-child,
.card-tasks .table thead th:last-child {
  padding-right: 15px;
}
.card-tasks .table tbody tr:last-child td {
  border-bottom-width: 0px !important;
}

.card-tasks {
  padding-top: 0px;
  padding-bottom: 0px;
}
.card-tasks .table td {
  font-size: 13px;
}
.card-tasks .table td .btn {
  font-size: 15px;
  opacity: 0.7;
  transition: all 0.3s;
}
.card-tasks .extends .table td:hover .btn {
  opacity: 1;
}

.card-tasks .form-button-action {
  display: block !important;
}

/*     Card States    */
.card-dark,
.card-default,
.card-primary,
.card-secondary,
.card-info,
.card-success,
.card-warning,
.card-danger {
  color: #ffffff;
  border: 0px;
}

.card-dark .card-header,
.card-default .card-header,
.card-primary .card-header,
.card-secondary .card-header,
.card-info .card-header,
.card-success .card-header,
.card-warning .card-header,
.card-danger .card-header {
  border-bottom: transparent !important;
}

.card-dark .card-category,
.card-default .card-category,
.card-primary .card-category,
.card-secondary .card-category,
.card-info .card-category,
.card-success .card-category,
.card-warning .card-category,
.card-danger .card-category,
.card-dark .card-title,
.card-default .card-title,
.card-primary .card-title,
.card-secondary .card-title,
.card-info .card-title,
.card-success .card-title,
.card-warning .card-title,
.card-danger .card-title,
.card-dark label,
.card-default label,
.card-primary label,
.card-info label,
.card-success label,
.card-warning label,
.card-danger label {
  color: #ffffff;
}

.card-dark .icon-big > i,
.card-default .icon-big > i,
.card-primary .icon-big > i,
.card-secondary .icon-big > i,
.card-info .icon-big > i,
.card-success .icon-big > i,
.card-warning .icon-big > i,
.card-danger .icon-big > i {
  color: #ffffff !important;
}

.card-dark .card-footer,
.card-default .card-footer,
.card-primary .card-footer,
.card-secondary .card-footer,
.card-info .card-footer,
.card-success .card-footer,
.card-warning .card-footer,
.card-danger .card-footer {
  border-top: transparent !important;
}

.card-default {
  background: #1a2035 !important;
}

.card-primary {
  background: #1572e8 !important;
}

.card-secondary {
  background: #6861ce !important;
}

.card-info {
  background: #48abf7 !important;
}

.card-success {
  background: #31ce36 !important;
}

.card-warning {
  background: #ffad46 !important;
}

.card-danger {
  background: #f25961 !important;
}

.card-round {
  border-radius: 5px;
}

.product-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.product-details {
  flex: 1;
  margin-left: 10px;
}
.product-price {
  font-size: 1.2rem;
}
.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.quantity-controls input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.modal-backdrop.show {
  opacity: 0.5;
}
/* Estilo para o card centralizado */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
}
.modal-content {
  background-color: white;
  border-radius: 8px;
}
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-group-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}
.modal-footer {
  justify-content: flex-end;
}

.indicador {
  font-size: 0.85rem;
  color: darkgray;
}
.indicador-nome {
  color: gray;
}
.indicador-icone {
  font-size: 16px;
}
.indicador-valor {
  font-weight: bold;
  color: darkgray;
}
.card-destaque {
  min-width: 200px;
}
.card-header {
  font-size: 1rem;
  font-weight: bold;
}
.card-icone {
  font-size: 48px;
}
.card-valor {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.card-atualizacao {
  font-size: 0.75rem;
  color: lightgray;
}
.scroll-hidden {
  overflow-x: hidden;
}

a:link, a:visited {
  color: rgb(24, 48, 129);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(56, 231, 152);
}
