{% extends "layout/client.html" %}

{% block clientarea %}
<!-- -->
<div class="row">

 
    {% include "comp/categorias/categorias.html" %}

    <div class="table-responsive">
        <table id="add-row" class="display table table-striped table-hover">
            <!-- <thead>
                <tr>
                    {% for field in colunas.itens %}
                    <th>{{ field.nome }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead> -->
            
            <tbody>
                {% for row in grade.dados %}
                <tr>
                    <td><a href="/pedido/add?pessoa={{row.id}}">{{row.nome}}</a></td>
                    <td>
                        <div class="form-button-action">
                            <a href="/produto/{{row.id}}">
                                <button type="button" data-toggle="tooltip" title=""
                                    class="btn btn-link btn-primary btn-lg" data-original-title="Editar">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>
                          
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock clientarea %}