<div class="wrapper_fluid--NYl4L">
    <div class="mobileWrapper--D2Euk">
        <div class="headSection--iPjUV">
            <div class="sib-typo_heading-lg"
                style="color: var(--sib-color_content-primary); font-family: var(--brand-typo_font-family--primary_semibold); display: flex; justify-content: center; flex-wrap: wrap;">
                <div>Fazer upgrade de sua plataforma de pedidos</div>
            </div>
        </div>
        <div style="margin-top: 1.5rem; height: 5rem;">
            <div class="block--HVT78">
                <div class="sib-toggle-button-wrapper--uP-MT">
                    <div class="sib-toggle-button--slider--d1-Jx"
                        style="left: 4px; top: 4px; width: 72px; height: 32px;"></div><button type="button"
                        class="sib-btn--RG2+V undefined sib-btn_variant--tertiary--uE7T3  sib-btn_size--medium--Qlzli sib-btn--GafO7 sib-btn--selected--iA6z9 "
                        data-testid="sib-button-testId"><span
                            class="sib-btn--label--zJUqu ">Mensal</span></button><button type="button"
                        class="sib-btn--RG2+V sib-btn_variant--tertiary--uE7T3  sib-btn_size--medium--Qlzli sib-btn--GafO7  "
                        data-testid="sib-button-testId"><span class="sib-btn--label--zJUqu ">
                            <div style="display: flex;">Anual&nbsp;<div class="discountBlock--fvcRE">(Economize 10%)
                                </div>
                            </div>
                        </span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper--ItQgm">
        <div class="container--vxiFm" style="margin-top: 3.5rem;">
            <div>
                <div>
                    <div class="panel--47w1A ">
                        <div class="upperSection--w-6ib">
                            <h3 class="title--6B3KC  sib-typo_heading--secondary_interactive sib-typo_heading-size--md"
                                style="color: var(--sib-color_positive-press);">free</h3>
                            <div class="" style="height: 40px; margin-top: 4px; line-height: 20px;"><span
                                    class="sib-typo_text--regular sib-typo_text_size--md"
                                    style="color: var(--sib-color_content-primary,#1f2d3d);">Conheça a Brevo</span>
                            </div>
                            <div class="priceSection--l26gr">
                                <div style="height: 20px;"></div>
                                <div style="display: flex; justify-content: center; align-items: baseline; gap: 4px;">
                                    <h3 class="sib-typo_heading--secondary_interactive sib-typo_heading-size--xl"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);"><sup
                                            data-testid="currency"
                                            style="font-size: 1.125rem; vertical-align: baseline;">R$</sup>0</h3>
                                    <div class="sib-typo_text--regular sib-typo_text_size--lg"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);">por mês</div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center;"><button type="button"
                                    class="sib-btn--RG2+V sib-btn--full-width--HdGe6 sib-btn_variant--secondary--Wi1e3  sib-btn_size--medium--Qlzli"
                                    data-testid="sib-button-testId"><span class="sib-btn--label--zJUqu ">Continuar com o
                                        plano Grátis</span></button></div>
                        </div>
                        <div class="features--PGgpJ "><span class="sib-typo_text--bold sib-typo_text_size--md"
                                style="color: var(--sib-color_content-primary,#1f2d3d);">Tudo o que você tem no plano
                                Grátis:</span>
                            <ul>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Até 300 e-mails por dia</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Modelos de e-mail personalizáveis</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Editor de arrastar e soltar</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>E-mails transacionais</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>SMS e campanhas do WhatsApp</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="panel--47w1A ">
                        <div class="upperSection--w-6ib">
                            <h3 class="title--6B3KC  sib-typo_heading--secondary_interactive sib-typo_heading-size--md"
                                style="color: var(--sib-color_positive-press);">starter</h3>
                            <div class="" style="height: 40px; margin-top: 4px; line-height: 20px;"><span
                                    class="sib-typo_text--regular sib-typo_text_size--md"
                                    style="color: var(--sib-color_content-primary,#1f2d3d);">Ideal para profissionais de
                                    marketing iniciantes</span></div>
                            <div class="priceSection--l26gr">
                                <div style="height: 20px;"><span class="sib-typo_text--regular sib-typo_text_size--md"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);">A partir de</span>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: baseline; gap: 4px;">
                                    <h3 class="sib-typo_heading--secondary_interactive sib-typo_heading-size--xl"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);"><sup
                                            data-testid="currency"
                                            style="font-size: 1.125rem; vertical-align: baseline;">R$</sup>40</h3>
                                    <div class="sib-typo_text--regular sib-typo_text_size--lg"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);">por mês</div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center;"><button type="button"
                                    class="sib-btn--RG2+V sib-btn--full-width--HdGe6 sib-btn_variant--primary--RWXSZ  sib-btn_size--medium--Qlzli"
                                    data-testid="sib-button-testId"><span class="sib-btn--label--zJUqu ">Atualizar para
                                        Starter</span></button></div>
                        </div>
                        <div class="features--PGgpJ "><span class="sib-typo_text--bold sib-typo_text_size--md"
                                style="color: var(--sib-color_content-primary,#1f2d3d);">Tudo o que existe no plano
                                Grátis, mais:</span>
                            <ul>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Nenhum limite diário de envio</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Sem o logo da Brevo (+R$&nbsp;45/mês)</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Relatórios e ferramentas de análise</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Modelos de e-mail personalizáveis</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Suporte por e-mail</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: -3.4rem;">
                <div>
                    <h4 class="label--S++ip  sib-typo_heading--secondary_interactive sib-typo_heading-size--xs"
                        style="color: var(--sib-color_content-white);">Mais populares</h4>
                    <div class="panel--47w1A panel_label--6i7dj">
                        <div class="upperSection--w-6ib">
                            <h3 class="title--6B3KC  sib-typo_heading--secondary_interactive sib-typo_heading-size--md"
                                style="color: var(--sib-color_positive-press);">business</h3>
                            <div class="" style="height: 40px; margin-top: 4px; line-height: 20px;"><span
                                    class="sib-typo_text--regular sib-typo_text_size--md"
                                    style="color: var(--sib-color_content-primary,#1f2d3d);">Perfeito para profissionais
                                    de marketing e e-commerce</span></div>
                            <div class="priceSection--l26gr">
                                <div style="height: 20px;"><span class="sib-typo_text--regular sib-typo_text_size--md"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);">A partir de</span>
                                </div>
                                <div style="display: flex; justify-content: center; align-items: baseline; gap: 4px;">
                                    <h3 class="sib-typo_heading--secondary_interactive sib-typo_heading-size--xl"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);"><sup
                                            data-testid="currency"
                                            style="font-size: 1.125rem; vertical-align: baseline;">R$</sup>81</h3>
                                    <div class="sib-typo_text--regular sib-typo_text_size--lg"
                                        style="color: var(--sib-color_content-primary,#1f2d3d);">por mês</div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center;"><button type="button"
                                    class="sib-btn--RG2+V sib-btn--full-width--HdGe6 sib-btn_variant--primary--RWXSZ  sib-btn_size--medium--Qlzli"
                                    data-testid="sib-button-testId"><span class="sib-btn--label--zJUqu ">Atualizar para
                                        Business</span></button></div>
                        </div>
                        <div class="features--PGgpJ "><span class="sib-typo_text--bold sib-typo_text_size--md"
                                style="color: var(--sib-color_content-primary,#1f2d3d);">Tudo que existe no plano
                                Starter, mais:</span>
                            <ul>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Automação de marketing</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Teste A/B</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Ferramentas avançadas de relatórios e análises</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Otimização do horário de envio</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Acesso multiusuário</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Suporte por telefone</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div style="margin-bottom: 1rem; margin-top: -3.5rem;">
                        <div style="text-align: right;">
                            <div class="sib-dropdown--GZgYp dropdown-button--iQqh8" id="sib-dropdown-id">
                                <div class="sib-dropdown-root--yG81N">
                                    <div><button type="button"
                                            class="sib-btn--RG2+V sib-btn_variant--tertiary--uE7T3  sib-btn_size--medium--Qlzli"
                                            data-testid="sib-button-testId"><span
                                                class="sib-btn--label--zJUqu ">Brazilian Real (R$)</span><span
                                                class="sib-btn--chevron-icon--QqQoH"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="none" viewBox="0 0 16 16" class="icon-right--luXKY">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" d="m4 6 4 4 4-4">
                                                    </path>
                                                </svg></span></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel--47w1A ">
                        <div class="upperSection--w-6ib">
                            <h3 class="title--6B3KC  sib-typo_heading--secondary_interactive sib-typo_heading-size--md"
                                style="color: var(--sib-color_positive-press);">enterprise</h3>
                            <div class="" style="height: 40px; margin-top: 4px; line-height: 20px;"><span
                                    class="sib-typo_text--regular sib-typo_text_size--md"
                                    style="color: var(--sib-color_content-primary,#1f2d3d);">Para organizações que
                                    procuram soluções e serviços de nível empresarial</span></div>
                            <div class="priceSection--l26gr">
                                <div style="height: 20px;"></div>
                                <h2 class="customPrice--LOkf3 sib-typo_heading--secondary_interactive sib-typo_heading-size--md"
                                    style="color: var(--sib-color_content-primary,#1f2d3d);">Preço personalizado</h2>
                            </div>
                            <div style="display: flex; justify-content: center;"><button type="button"
                                    class="sib-btn--RG2+V sib-btn--full-width--HdGe6 sib-btn_variant--primary--RWXSZ  sib-btn_size--medium--Qlzli"
                                    data-testid="sib-button-testId"><span class="sib-btn--label--zJUqu ">Atualizar para
                                        Enterprise</span></button></div>
                        </div>
                        <div class="features--PGgpJ "><span class="sib-typo_text--bold sib-typo_text_size--md"
                                style="color: var(--sib-color_content-primary,#1f2d3d);">Tudo que existe no plano
                                Business, mais:</span>
                            <ul>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Contrato flexível</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Contatos ilimitados</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Integrações avançadas</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Gerenciamento de subcontas</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Integração sob medida</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Suporte Prime</span></li>
                                <li><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="none"
                                        viewBox="0 0 16 16" class="" data-testid="check-icon"
                                        color="var(--sib-color_positive-press)">
                                        <path stroke="var(--sib-color_positive-press)" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2" d="M13.333 4 6 11.333 2.667 8">
                                        </path>
                                    </svg><span>Segurança de nível empresarial</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>