<div class="list-group-item d-flex align-items-center" id="item-{{ item.id_item }}-{{ item.id_produto }}">
    <img width="64px" src="{{ item.url }}" alt="🍎" class="rounded-circle me-3">
    <div class="flex-grow-1">
        <strong>{{ item.produto }}</strong>
        <p class="text-muted mb-0">{{ item.preco }}</p>
    </div>

    <input hidden type="text" name="id-{{ item.id  }}" value="{{ item.id }}" class="form-control text-center"
        style="width: 60px;">

    <div class="d-flex align-items-center">
        <!-- <button class="btn btn-outline-secondary ms-2">+</button> -->
        <label for="item-{{ item.id  }}"> {{ item.unidade }} </label>
        <input type="number" name="item-{{ item.id  }}" id="item-{{ item.id  }}" value="{{ item.quantidade }}"
            class="form-control text-center" style="width: 60px;"
            hx-post="/pedido{{ item.id_pedido }}/{{ item.id_produto }}/{{ item.id }}?quantidade=item-{{ item.id  }}"
            hx-trigger="keyup changed delay:7500ms" hx-target="#total-{{ item.id  }}"
            hx-include="[name=item-{{ item.id  }}]">
        <!-- <button class="btn btn-outline-secondary me-2">-</button> -->
    </div>
    <div id="total-{{ item.id  }}">
        <span> {{ item.total }} </span>
    </div>
</div>