{% extends "site/layout.html" %}
{% block content %}
<div class="w-full">
    <article class="w-8/12 mx-auto py-16">
        <header>
            <h1 class="w-fit mx-auto text-orange-600 font-black">
                <span class="w-fit mx-auto block text-4xl">Erro 404</span>
                <span class="w-fit mx-auto block text-xl">Página não encontrada!</span>
            </h1>
            <p class="mt-8 text-center">Parece que esse recurso foi movido, renomeado ou nunca existiu...<br>
                Que tal tentar a <a href="/" class="font-semibold text-orange-600 hover:underline">página inicial</a>?
                Prometo que essa funciona!</p>
        </header>
    </article>
</div>
{% endblock %}