{% extends "site/layout.html" %}
{% block content %}
<div class="w-full bg-yellow-200">
    <article class="w-8/12 mx-auto py-16 flex justify-center">
        <header class="w-4/12 flex flex-wrap content-center">
            <h2 class="font-black text-7xl text-orange-600 leading-tight">Nuvem Delivery</h2>
            <p class="w-full mt-2 font-semibold text-xl text-orange-700">Rápido | Fácil | Seguro</p>
            <a href="#" class="w-56 py-3 mt-8 bg-gradient-to-b from-orange-500 to-orange-800 text-white text-lg
            font-semibold text-center rounded-lg border-orange-900 hover:opacity-80">Saiba mais</a>
        </header>
        <div class="w-4/12">
            <img class="w-full" src="resources/images/entregador.svg" alt="Entregador"/>
        </div>
    </article>
</div>
{% endblock %}