<footer class="w-full bg-gray-100">
    <div class="w-8/12 px-4 h-16 mx-auto flex items-center justify-between">
        <a href="/" class="w-fit flex items-center" title="Página inicial">
            <i class="bi bi-cloud-check-fill mr-2 text-4xl text-orange-600"></i>
            <h1 class="text-lg text-orange-600 font-medium">Nuvem Delivery</h1>
        </a>
        <p class="uppercase font-medium text-sm text-neutral-700">O melhor delivery da região!</p>
    </div>
    <div class="py-8 bg-neutral-800 text-white text-xs">
        <div class="w-8/12 mx-auto grid grid-cols-12 auto-cols-fr gap-8">
            <div class="col-span-3 border-l border-white px-4">
                <p class="font-bold text-base">Sobre</p>
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto consectetur
                    cupiditate dolor, dolorem, dolorum ea ex fuga fugiat in molestias, nemo nisi nostrum omnis optio
                    pariatur
                    quae quasi voluptates.</p>
            </div>
            <div class="col-span-3 border-l border-white px-4">
                <p class="font-bold text-base">Contato</p>
                <p class="mt-4">(88) 8888-8888 | 99999-9999</p>
                <p class="">contato@empresa.com.br</p>
                <p class="mt-2">Avenida Brasil, 10 Terreo</p>
                <p class="">Cidade/UF CEP 88.888-888</p>
                <p class="mt-2">Seg. a Sex. das 08h00 às 18h00</p>
            </div>
            <div class="col-span-3 border-l border-white px-4">
                <p class="font-bold text-base">Links</p>
                <dd class="mt-4">
                    <dl><a href="/" class="hover:underline">Início</a></dl>
                    <dl><a href="/sobre" class="hover:underline">Sobre</a></dl>
                    <dl><a href="/contato" class="hover:underline">Contato</a></dl>
                    <dl><a href="/reistrar" class="hover:underline">Criar Conta</a></dl>
                    <dl><a href="/entrar" class="hover:underline">Entrar</a></dl>
                    <dl><a href="/politica-de-privacidade" class="hover:underline">Política de Privacidade</a></dl>
                    <dl><a href="/termos" class="hover:underline">Termos e Condições de Uso</a></dl>
                </dd>
            </div>
            <div class="col-span-3 border-x border-white px-4">
                <p class="font-bold text-base">Social</p>
                <dl class="mt-4">
                    <dl class="mt-1"><a href="#" class="hover:underline"><i class="bi bi-facebook mr-2"></i>/PedidoNaNuvem</a></dl>
                    <dl class="mt-1"><a href="#" class="hover:underline"><i class="bi bi-instagram mr-2"></i>@PedidoNaNuvem</a></dl>
                    <dl class="mt-1"><a href="#" class="hover:underline"><i class="bi bi-twitter-x mr-2"></i>@PedidoNaNuvem</a></dl>
                    <dl class="mt-1"><a href="#" class="hover:underline"><i class="bi bi-tiktok mr-2"></i>/PedidoNaNuvem</a></dl>
                    <dl class="mt-1"><a href="#" class="hover:underline"><i class="bi bi-linkedin mr-2"></i>/PedidoNaNuvem</a></dl>
                    <dl class="mt-1"><a href="#" class="inline-flex hover:underline"><i class="bi bi-youtube text-sm mr-2"></i>@PedidoNaNuvem</a>
                    </dl>
                </dl>
            </div>
            <p class="col-span-full">&copy; 2024 Uma Aplicação. Todos os direitos reservados.</p>
        </div>
    </div>
    <div class="w-full h-16 flex items-center justify-center text-xs bg-neutral-700 text-white">
        Feito de coração por <a href="#" class="ml-1 hover:underline">www.umaempresa.com.br</a>
    </div>
</footer>