<header class="w-full">
    <div class="w-full bg-white">
        <div class="w-8/12 mx-auto text-right text-sm py-3">
            <a href="/registrar" class="hover:underline"><i class="bi bi-person-plus mr-1"></i>Criar conta</a>
            <a href="/entrar" class="ml-4 hover:underline"><i class="bi bi-person mr-1"></i>Entrar</a>
        </div>
    </div>
    <div class="w-full bg-gradient-to-r from-teal-400 to-teal-800">
        <div class="w-8/12 mx-auto h-16 flex items-center justify-between">
            <a href="/" class="w-fit flex items-center" title="Página inicial">
                <i class="bi bi-cloud-check-fill mr-2 text-4xl text-white"></i>
                <h1 class="text-lg text-white font-medium">Pedido na Nuvem</h1>
            </a>
            <nav class="text-sm text-white">
                <a href="/" class="hover:underline">Início</a>
                <a href="/sobre" class="hover:underline ml-2">Sobre</a>
                <a href="/contato" class="hover:underline ml-2">Contato</a>
            </nav>
        </div>
    </div>
</header>