{% extends "layout/layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/assets/css/land/land.css">
{% endblock head %}


{% block content %}

{% if usuario %}
<div>
    <div class="sidebar">
        <div class="section">
            <div class="logo"></div>
            <ul class="menu">
                {% for menu in menus %}
                <li><a href="{{menu.caminho}}"><i class="{{menu.classe}}"></i><span>{{menu.titulo}}</span></a></li>
                {% endfor %}
                <hr class="solid">

                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Encerrar sessão</span></a></li>
            </ul>
        </div>
    </div>
    <div class="client">
        <div class="row" justify-content="space-between">
            <div class="col">
                <div class="p-3 mb-4 .fs-6 text">
                    {% if empresa  %}
                    🏦 {{ empresa.nome }}
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="p-3 mb-4  text-end .fs-6 text">
                    {{ usuario.nome }} 🧑
                </div>
            </div>
        </div>

        {% block clientarea %}
        
        {% endblock clientarea %}
    </div>
</div>
{% else %}
not logged
<p> adicione usuario no contexto </p>
{% endif %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}


